.p-show-detail{
  display: inline-block;
  cursor: pointer;
  font-size: 12px;
  &:hover{
    text-decoration: underline;
  }
  i{
    margin-right: 5px;
    transition: .3s;
  }
}
.seat-item{
  text-align: center;
  height: 100%;
  &__title{
    height: 70px;
    padding: 10px;
    p{
      font-size: 14px;
      color: #fff;
    }
  }
  &__content{
    p{
      color: #fff;
      font-size: 14px;
      height: 30px;
      line-height: 30px;
    }
  }
}
.place-box{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 15px 0;
  @include breakpoint(sm){
    width: 50%;
    padding:0;
    height: 67px;
  }
  &__start,
  &__end{
    color: #231f20;
    strong{
      font-size: 20px;
    }
    p{
      font-size: 15px;
    }
  }
  &__icon{
    padding: 0 10px;
  }
  &__end{
    text-align: right;
  }
}
.booking-box{
  position: relative;
  &__btn{
    width:100%;
    height: 67px;
    line-height: 67px;
    background-color:#1087b4;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px 0 40px;
    cursor: pointer;
    @include breakpoint(sm){
      width: 300px;
      margin: auto;
    }
    span{
      font-size: 20px;
    }
    i{

    }
  }
  &__dropdown{
    background-color: rgba(255, 255, 255, 0.9);
    border: 1px solid #666;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 10;
    width:100%;
    display: none;
    @include breakpoint(sm){
      width: 300px;
      left: 50%;
      transform: translateX(-50%);
    }
  }
  &.open-dropdown{
    .booking-box__btn{
      i{
        transform: rotate(90deg);
      }
    }
  }
}
.booking-info{
  color: #231f20;
  font-size: 14px;
  padding: 0 15px;
  &__item{
    border-bottom: 1px solid #231f20;
    padding: 10px 0;
    .p1{
      font-size: 16px;
    }
    .p2{
      font-size: 12px;
      color: #939598;
    }
    .p3{
      margin-bottom: 5px;
    }
    .orange{
      margin-bottom: 5px;
    }
    .pnote{
      color: #000;
      span{
        color: $blue-2;
      }
    }
  }
  &__total{
    padding: 10px 0;
    .d-flex{
      justify-content: space-between;
      align-items: center;
      margin-bottom: 5px;
    }
    .p1{
      font-size: 18px;
      color: $blue-2;
      text-transform: uppercase;
    }
    .p2{
      font-size: 12px;
    }
    .p3{
      font-size: 12px;
      color: #000;
    }
  }
  &__btn{
    margin: 0 -15px;
    a{
      display: block;
      background-color:#1087b4;
      color: #fff!important;
      text-align: center;
      text-transform: uppercase;
      font-size: 28px;
      padding: 20px 0;
      &:hover{
        text-decoration: none;
      }
    }
  }
}
.trip-box{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0;
  &__start,
  &__end{
    width: 35%;
    .p1{
      font-size: 11px;
      color: #939598;
      @include breakpoint(sm){
        font-size: 14px;
      }
    }
    .p2{
      font-size:14px;
      font-weight: 600;
      text-transform: uppercase;
      @include breakpoint(sm){
        font-size: 16px;
      }
    }
  }
  &__end{
    text-align: right;
  }
  &__icon{
    text-align: center;
    width: 30%;
    i{
      color: #939598;
    }
    p{
      color: #939598;
      font-size: 11px;
      @include breakpoint(sm){
        font-size: 14px;
      }
    }
    .p2{
      span{
        padding-right: 5px;
      }
    }
    .dot{
      margin: 5px auto;
      width: 70px;
      height: 1px;
      background-color: #939598;
      position: relative;
      &:before{
        content: '';
        width: 8px;
        height: 8px;
        background-color:#17c0da;
        border-radius: 50%;
        position: absolute;
        top: -4px;
        left: 50%;
        transform: translateX(-50%);
      }
    }
  }
  &__line{
    width: 30%;
    text-align: center;
    padding: 0 5px;
    p{
      font-size: 12px;
      color: #000;
    }
    .p1{
      margin-bottom: 5px;
    }
    .p2{
      margin-top: 5px;
    }
    .straight-line{
      width: 100%;
      height: 3px;
      background-color: #ccc;
      position: relative;
      &:before,
      &:after{
        content: '\f3c5';
        font-family: "Font Awesome 5 Free";
        font-weight: 900;
        position: absolute;
        top: -3px;
        line-height: 8px;
        color: #ccc;
      }
      &:before{
        left: -10px;
        transform: rotate(-90deg);
      }
      &:after{
        right: -10px;
        transform: rotate(90deg);
      }
    }
  }
}
.detail-box{
  &__title{
    margin-bottom: 20px;
    h5{
      font-size: 18px;
      color: #22374f;
      font-weight: bold;
      margin: 0;
      padding: 0 0 5px;
      display: inline-block;
      border-bottom: 2px solid #22374f;
    }
  }
  &__name{
    p{
      text-transform: uppercase;
      font-size: 14px;
      color: #000;
      font-weight: 600;
    }
  }
  &__item{
    padding: 10px 0;
    @include breakpoint(sm){
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }
  &__airline{
    text-align: center;
    @include breakpoint(sm){
      display: flex;
      align-items: center;
      text-align: left;
      width: 30%;
      padding-right: 10px;
    }
    p{
      padding-left: 10px;
      font-size: 12px;
      color: #666;
      span{
        display: block;
      }
    }
  }
  &__trip{
    @include breakpoint(sm){
      width: 70%;
      padding-left: 10px;
    }
    .trip-box{
      padding: 0;
      &__start,
      &__end{
        p{
          font-size: 12px;
          color: #000;
        }
      }
    }
  }
  &__time{
    background-color: #17c0da;
    text-align: center;
    padding: 5px 10px;
    p{
      font-size: 12px;
      color: #fff;
    }
  }
}
.ticket-box{
  padding-bottom: 15px;
  &__header{
    background-color: #e7e8e9;
    padding: 10px;
  }
  &__show{

  }
  &__main{}
  &__item{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    &.item-brown{
      .ticket-box__type{
        background-color:#1087b4;
      }
    }
    &.item-orange{
      .ticket-box__type{
        background-color:#17c0da;
      }
    }
    &.active{
      .ticket-box__check{
        border-color: $orange;
        i{
          visibility: visible;
        }
      }
    }
  }
  &__left{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: calc(100% - 125px);
    height: 100%;
    padding-right: 15px;
    border-bottom: 1px solid #666;
    .p-soldout{
      font-size: 18px;
      color: $brown;
      font-weight: 600;
      text-align: center;
      width: 100%;
    }
  }
  &__check{
    width: 22px;
    height: 22px;
    text-align: center;
    border-radius: 50%;
    border: 1px solid #9c9c9c;
    i{
      color: $orange;
      visibility: hidden;
    }
  }
  &__price{
    text-align: center;
    p{
      color: #1087b4;
    }
    .p1{
      font-size: 12px;
    }
    .p2{
      font-size: 14px;
      font-weight: bold;
    }
  }
  &__chair{
    p{
      font-size: 12px;
      color:#1072ba;
      font-weight: bold;
    }
  }
  &__type{
    width: 125px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    padding: 0 10px;
    border: none;
    &:focus{
      outline: none;
    }
    p{
      font-size: 10px;
      color: #fff;
    }
    svg{
      fill: #fff;
      width: 15px;
    }
  }
  &__detail{
    padding: 15px 0;
    border-bottom: 1px solid #000;
    display: none;
  }
  &.open-detail{
    .ticket-box__show{
      .p-show-detail{
        i{
          transform: rotate(90deg);
        }
      }
    }
  }
}
.ticket-table{
  &__header{
    margin-bottom: 10px;
    .ticket-table__left{
      display: flex;
      align-items: center;
      background-color: #22374f;
      padding: 15px;
      border-radius: 10px;
      p{
        color: #fff;
      }
    }
    .ticket-table__right{
      .ticket-table__col{
        &:nth-child(2n+1){
          .ticket-table__type{
            background-color: #1087b4;
            .p2{
              background-color: #17c0da;
            }
          }
        }
        &:nth-child(2n){
          .ticket-table__type{
            background-color:#17c0da;
            .p2{
              background-color: #1087b4;
            }
          }
        }
      }
    }
    .ticket-table__row{
      border: none;
      border-radius: 0;
    }
  }
  &__body{
    .ticket-table__left{
      padding: 15px;
      border: 1px solid #ddd;
      border-radius: 10px 0 0 10px;
      .trip-box{
        padding: 0;
      }
    }
    .ticket-table__col{
      &:last-child{
        .ticket-table__cell{
          border-radius: 0 10px 10px 0;
        }
      }
      &:nth-child(2n+1){
        .ticket-table__cell{
          &.active{
            background-color:#1087b4;
            p{
              color: #fff;
            }
            .ticket-table__label{
              svg{
                fill: #fff;
              }
            }
            .ticket-table__check{
              border-color: #fff;
              i{
                visibility: visible;
              }
            }
          }
        }
      }
      &:nth-child(2n){
        .ticket-table__cell{
          &.active{
            background-color:#17c0da;
            p{
              color: #fff;
            }
            .ticket-table__label{
              svg{
                fill: #fff;
              }
            }
            .ticket-table__check{
              border-color: #fff;
              i{
                visibility: visible;
              }
            }
          }
        }
      }
    }
  }
  &__row{
    display: flex;
    margin-right: -10px;
    margin-bottom: 10px;
  }
  &__col{
    padding: 0 5px;
    &.col_6{
      width: calc(100%/6);
    }
    &.col_5{
      width: calc(100%/5);
    }
    &.col_4{
      width: calc(100%/4);
    }
    &.col_3{
      width: calc(100%/3);
    }
  }
  &__left{
    width: 35%;
    border-right: 1px solid #ddd;
  }
  &__right{
    width: 65%;
    display: flex;
    padding: 0 5px;
  }
  &__type{
    text-align: center;
    height: 100%;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 10px;
    p{
      color: #fff;
      padding: 10px;
    }
    .p1{
      font-size: 14px;
    }
    .p2{
      font-size: 12px;
      border-radius: 10px;
      i,span{
        vertical-align: middle;
      }
      i{
        padding-right: 5px;
      }
    }
  }
  &__cell{
    height: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    cursor: pointer;
    position: relative;
    border: 1px solid #ddd;
    .p1{
      color: #17c0da;
      font-size: 12px;
    }
    .p2{
      color: #17c0da;
      font-size: 14px;
      font-weight: bold;
    }
    .p3{
      font-size: 12px;
      color: $brown;
    }
  }
  &__label{
    position: absolute;
    top: 5px;
    right: 5px;
    svg{
      width: 10px;
      fill: $orange;
    }
  }
  &__check{
    width: 24px;
    height: 24px;
    border: 1px solid #9c9c9c;
    text-align: center;
    border-radius: 50%;
    margin:10px auto 0;
    i{
      font-size: 14px;
      visibility: hidden;
      color: #fff;
    }
  }
  &__collapse{
    display: none;
    margin-bottom: 10px;
    h5{
      font-size: 18px;
      padding: 15px;
      color: #000;
    }
    .ticket-table__left{
      padding: 70px 15px 0;
      border: 1px solid #ddd;
      border-radius: 10px 0 0 10px;
      .icon-box{
        text-align: right;
        padding-bottom: 15px;
      }
    }
    .ticket-table__col{
      &:nth-child(2n){
        .seat-item{
          background-color: #17c0da;
        }
      }
      &:nth-child(2n+1){
        .seat-item{
          background-color:#22374f;
        }
      }
      &:last-child{
        .seat-item{
          border-radius: 0 10px 10px 0;
        }
      }
    }
  }
  &__text{
    display: flex;
    align-items: center;
    justify-content: space-between;
    .d-left{
      width: 35%;
      text-align: right;
      padding: 15px;
      p{
        font-size: 14px;
        color: $orange;
      }
    }
    .d-right{
      width: 65%;
      background-color: #feda3b;
      padding: 15px;
      p{
        font-size: 12px;
        color: #000;
      }
    }
  }
}
.fly-item{
  &__slide{
    margin-bottom: 10px;
  }
  &__date{
    background-color: $brown;
    color: $orange;
    text-align: center;
    padding: 10px;
    span{
      text-transform: uppercase;
      padding-left: 10px;
      font-weight: bold;
    }
    span,svg{
      vertical-align: middle;
    }
  }
  &__suggestion{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0;
    .list-icon,p{
      @include breakpoint(xs){
        width: 50%;
      }
    }
    .list-icon{
      @include breakpoint(xs){
        display: flex;
        justify-content: flex-end;
      }
      &__group{
        @include breakpoint(xs){
          display: inline-block;
        }
      }
      &__item{
        @include breakpoint(xs){
          display: block;
          margin: 0;
        }
      }
    }
  }
  &__fs{
    display: flex;
    justify-content: space-between;
    padding: 15px 0;
    .dropdown{
      width: 100%;
    }
    .dropdown-toggle{
      width: 100%;
      height:20px;
      line-height:20px;
      background-color: #e7e8e9;
      border:none;
      color: #58595b;
      font-size: 10px;
      text-align: left;
      font-weight: 600;
      cursor: pointer;
      padding: 0 5px 0 15px;
      @include breakpoint(sm){
        height: 50px;
        line-height: 50px;
        font-size: 14px;
      }
      &:after{
        float: right;
        margin-top: 7px;
        @include breakpoint(sm){
          font-size: 20px;
          margin-top: 22px;
        }
      }
    }
    .dropdown-menu{
      width: 100%;
    }
  }
  &__sort{
    width: 50%;
    padding-right: 5px;
    @include breakpoint(sm){}
  }
  &__filter{
    width: 50%;
    padding-left: 5px;
    @include breakpoint(sm){}
  }
  &__mobile{
    @include breakpoint(sm){
      display: none;
    }
  }
  &__desktop{
    @include breakpoint(xs){
      display: none;
    }
  }
  &__title{
    display: flex;
    align-items: baseline;
    margin: 30px 0;
    h5{
      font-size: 24px;
      font-weight: 500;
      color: #1087b4;
      padding-left: 10px;
    }
  }
}
.fly-list{
  &__banner{
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    padding: 100px 0 0;
  }
  &__info{
    text-align: center;
    @include breakpoint(md){
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
      text-align: left;
    }
  }
  &__title{
    padding-bottom: 30px;
    h2{
      color: #fff;
      font-size: 24px;
      font-weight: 600;
      margin-bottom: 15px;
    }
  }
  &__trip{
    @include breakpoint(md){
      display: flex;
      align-items: center;
      margin: 0 -25px;
    }
    &__name{
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 0 15px 10px;
      @include breakpoint(md){
        padding: 0 15px;
      }
    }
    &__date{
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 0 15px;
    }
    p{
      color: #fff;
      font-size: 14px;
      padding: 0 10px;
    }
  }
  &__main{
    position: relative;
  }
  &__item{
    margin-bottom: 50px;
  }
  &__body{
    margin-bottom: 30px;
  }
  &__btn{
    text-align: center;
    @include breakpoint(sm){
      text-align: right;
    }
    .btn{
      font-size: 18px;
      padding: 10px 20px;
      text-transform: uppercase;
    }
  }
}

#seatItem,
#seatItemBack{
  table{
    width: 100%;
    th,td{
      padding: 10px;
    }
    th{
      text-align: right;
      font-size: 14px;
      p{
        display: flex;
        justify-content: flex-end;
      }
      i{
        color:#17c0da;
      }
      span,i{vertical-align: middle}
      span{
        padding-right: 10px;
      }
    }
    td{
      text-align: center;
      font-size: 14px;
    }
  }
}
#homeSearch{
  .modal-dialog{
    @include breakpoint(md){
      max-width: 900px;
    }
  }
}