footer.fly-footer
    .fly-footer__top(style='background-image: url(images/bg-footer.png);')
        .container
            .footer-content
                .footer-content__col
                    .footer-travel
                        h5.footer-title TRAVEL
                        p.p1 flythaiairways.vn offers schedule search, pricing check and reservation of Vietnam domestic and international flights. We are dedicated to bringing the best booking experience to domestic and international travelers with our English speaking consultants, user-friendly website and prompt confirmation.
                        .footer-travel__phone
                            p.p1 Need help?
                            p.p2 +84.938.702.666
                            p.p1 Email: booking@flythaiairways.vn
                        h5.footer-title FOLLOW US
                        ul.footer-social
                            li
                                a(href='#')
                                    i.fab.fa-facebook-f

                            li
                                a(href='#')
                                    i.fab.fa-youtube

                            li
                                a(href='#')
                                    i.fab.fa-instagram

                .footer-content__col
                    .footer-subs
                        h5.footer-title SUBSCRIBE
                        ul.footer-subs__nav
                            li
                                a(href='#') How to Book
                            li
                                a(href='#') Contact Us
                            li
                                a(href='#') About Us
                            li
                                a(href='#') Privacy Policy
                            li
                                a(href='#') Before You Board
                            li
                                a(href='#') Terms of Use
                        ul.footer-card
                            li
                                a(href='#')
                                    img(src='images/card1.png')
                            li
                                a(href='#')
                                    img(src='images/card2.png')
                            li
                                a(href='#')
                                    img(src='images/card3.png')
                .footer-content__col
                    .footer-form
                        h5.footer-title SUBSCRIBE
                    form
                        .form-group
                            input.form-control(type='text' placeholder='Your name')
                        .form-group
                            input.form-control(type='text' placeholder='Your Email Address')
                        .form-group
                            textarea.form-control(type='text' placeholder='Your Messenger')
                        .form-group
                            button.btn.btn-blue(type='button') Submit
                .footer-content__col
                    h5.footer-title GALLERY
                    ul.footer-gallery
                        li
                            a(href='#')
                                img(src='images/deal1.png')

                        li
                            a(href='#')
                                img(src='images/deal2.png')

                        li
                            a(href='#')
                                img(src='images/deal3.png')

                        li
                            a(href='#')
                                img(src='images/deal1.png')

                        li
                            a(href='#')
                                img(src='images/deal2.png')

                        li
                            a(href='#')
                                img(src='images/deal3.png')
                        li
                            a(href='#')
                                img(src='images/deal1.png')

                        li
                            a(href='#')
                                img(src='images/deal2.png')

                        li
                            a(href='#')
                                img(src='images/deal3.png')

    .fly-footer__bottom
        .container
            p FlyThaiAirways.vn © 2018. All rights reserved.