header.fly-header
    .container
        nav.navbar.navbar-expand-md
            button.navbar-toggler(type='button', data-toggle='collapse', data-target='#collapsibleNavbar')
                i.fas.fa-bars
            a.navbar-brand(href='index.html')
                img(src="images/logo.png")
            #collapsibleNavbar.collapse.navbar-collapse
                ul.navbar-nav
                    li.nav-item.active
                        a.nav-link(href='index.html') Home
                    li.nav-item
                        a.nav-link(href='#') Book your trip
                    li.nav-item
                        a.nav-link(href='#') Flight Info
                    li.nav-item
                        a.nav-link(href='#') Before your fly
                        ul.navbar-sub
                            li.navbar-sub__item
                                .navbar-sub__title
                                    h5 Book & manage
                                ul
                                    li
                                        a(href='#') Book a flight
                                    li
                                        a(href='#') Manage your booking
                                    li
                                        a(href='#') Check-in
                                    li
                                        a(href='#') Flight status
                                    li
                                        a(href='#') Mobile app
                                    li
                                        a(href='#') Any questions?
                            li.navbar-sub__item
                                .navbar-sub__title
                                    h5 PREPARE YOUR TRIP
                                ul
                                    li
                                        a(href='#') Baggage information
                                    li
                                        a(href='#') Check-in information
                                    li
                                        a(href='#') Special assistance
                                    li
                                        a(href='#') Infants&children
                                    li
                                        a(href='#') Traveling with pets
                                    li
                                        a(href='#') Transfer/Transit passengers
                            li.navbar-sub__item
                                .navbar-sub__title
                                    h5 ADDITIONAL SERVICES
                                ul
                                    li
                                        a(href='#') Rent a car
                                    li
                                        a(href='#') Book a hotel
                                    li
                                        a(href='#') Travel insurance
                                    li
                                        a(href='#') Extra legroom seat
                                    li
                                        a(href='#') Excess baggage
                                    li
                                        a(href='#') Portable WiFi hotspot
            .fly-header__right
                .fly-header__language
                    img(src="images/i-lang.png")
                .fly-header__search
                    i.fas.fa-search
                    input(type='text')