.passenger-box{
  position: absolute;
  left:0;
  top: 100%;
  z-index: 10;
  width:100%;
  background-color:#fff;
  padding: 15px 10px;
  li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 15px;
    border-radius:30px ;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    .p-left{
      font-size: 10px;
      color: $black-1;
      span{
        color: $main-color;
        font-size: 14px;
        font-weight: 600;
      }
    }
    .p-right{
      display: flex;
      justify-content: space-between;
      align-items: center;
      span{
        display: block;
      }
      .numb{
        font-size: 14px;
        font-weight:600;
        color: $main-color;
        padding: 0 10px;
      }
      .minus {
        border-radius: 50%;
        background-color: #ddd;
        width: 25px;
        height: 25px;
        line-height: 25px;
        text-align: center;
        cursor: pointer;
        i{
          font-size: 12px;
          color: #000;
        }
      }
      .plus {
        border-radius: 50%;
        background-color: #e4e4e4;
        width: 25px;
        height: 25px;
        line-height: 25px;
        text-align: center;
        cursor: pointer;
        i{
          font-size: 12px;
          color: #000;
        }
      }
    }
  }
}