.fly-footer{
  &__bottom{
    padding: 15px;
    p{
      font-size: 14px;
      color: $main-color;
      @include breakpoint(xs){
        text-align: center;
      }
    }
  }
  &__top{
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    position: relative;
    padding: 30px 0;
    @include breakpoint(sm){
      padding: 50px 0;
    }
    &:before{
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: rgba(34, 55, 79, 0.75);
    }
  }
}
.footer-content{
  position: relative;
  @include breakpoint(sm){
    display: flex;
    flex-wrap: wrap;
    margin: 0 -15px;
  }
  &__col{
    padding: 15px 0;
    border-bottom: 1px solid #fff;
    @include breakpoint(sm){
      width: 50%;
      padding:15px;
      border-bottom: none;
    }
    @include breakpoint(lg){
      width: 25%;
    }
    &:last-child{
      border-bottom: none;
    }
  }
}
.footer-travel{
  p{
    color: #fff;
    font-size: 14px;
  }
  .p2{
    font-size: 24px;
    font-weight: $semibold;
  }
  &__phone{
    padding: 15px 0;
  }
}
.footer-social{
  display: flex;
  align-items: center;
  li{
    padding: 0 10px;
    a{
      color: #fff;
      font-size: 24px;
    }
  }
}
.footer-title{
  font-size: 24px;
  font-weight: $semibold;
  color: #fff;
  padding: 0 0 10px;
  margin: 0 0 15px;
  position: relative;
  text-transform: uppercase;
  &:before{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 50px;
    height: 2px;
    background-color: #fff;
  }
}
.footer-subs{
  &__nav{
    padding: 0 0 15px;
    li{
      display: inline-block;
      padding: 5px;
      a{
        background: #fafcfe;
        color: #878787;
        padding: 10px 15px;
        display: inline-block;
        &:hover{
          text-decoration: none;
        }
      }
    }
  }
}
.footer-card{
  display: flex;
  li{
    padding: 0 10px;
    a{
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}
.footer-gallery{
  display: flex;
  flex-wrap: wrap;
  li{
    width: 33.333%;
    height: 75px;
    padding: 5px;
    a{
      display: block;
      width: 100%;
      height: 100%;
      img{
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }
}